body{
    background-color: #FFECEC;
    overflow-x: hidden;
}
.principal{
    display: grid;
    grid-template-columns: auto 1410px auto;
    width: 100vw;
    height: 100vh;
}
.principal > div{
    height: 900px;
    grid-column: 2;
}

.LeftMenuContainer{
    position: fixed;
    top: 23px;
    width: 337px;
    height: 95vh; 
    margin-right: 46px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #ED9696;
}

.MainContentContainer{
    display: inline-block;
    width: 645px;
    height: 90%; 
    margin-right: 0px;
    margin-top: 23px;
    margin-left: 383px;
    margin-right: 43px;
}

.DoPostMenu{
    width: 100%;
    height: 175px; 
    background-color: white;
    /* border-radius: 15px; */
    border: 1px solid #ED9696;


}
.PostSection{
    width: 100%;
    height: fit-content; 
    margin-top: 15px;
    padding-top: 32px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #ED9696;
}

.Post{
    width: 584px;
    height: 642px; 
    margin: 0 auto 60px;
    background-color: #FFE1E1;
    border-radius: 15px;
    border: 1px solid #E8C5C5;
}
.RightMenuContainer{
    position: fixed; 
    top: 24px; 
    display: inline-block;
    width: 337px;
    height: 95vh; 
    grid-column: 6;
}

.ExplorarMenu{
    width: 100%;
    height: 174px; 
    background-color: white;
    border-radius: 15px;
    border: 1px solid #ED9696;
}

.TagsMenu{
    width: 100%;
    height: 135px; 
    margin-top: 15px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #ED9696;
}
.TrendingMenu{
    width: 100%;
    height: 550px; 
    margin-top: 15px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #ED9696;
}

@media (max-width: 1443px){
    .LeftMenuContainer{
        display: none;
    }
    .principal{
        grid-template-columns: auto 1025px auto;
    }
    .MainContentContainer{
        margin-left: 0;
    }
}

@media (max-width: 1050px){
    .principal{
        display: block;
    }
    .RightMenuContainer{
        display: none;
    }
    .MainContentContainer{
        display: block;
        width: 95%;
        max-width: 600px;
        height: 90%; 
        margin: 20px auto;
    }
    .DoPostMenu{
        height: 10vh; 
        background-color: white;
        /* border-radius: 15px; */
        border: 1px solid #ED9696;
    }

    .PostSection{
        width: 100%;
        height: fit-content; 
        margin-top: 8px;
        padding-top: 15px;
        background-color: white;
        border-radius: 15px;
        border: 1px solid #ED9696;
    }

    .Post{
        width: 95%;
        height: 50vh; 
        /* margin: 0 20 60px; */
        background-color: #FFE1E1;
        border-radius: 15px;
        border: 1px solid #E8C5C5;
    }
}