*{
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #FFECEC;
    overflow-x: hidden;
}
.principal{
    display: grid;
    grid-template-columns: auto 1410px auto;
    width: 100vw;
    height: 100vh;
}
.principal > div{
    height: 900px;
    grid-column: 2;
}

.LeftMenuContainer{
    position: fixed;
    overflow: hidden;
    top: 23px;
    width: 337px;
    height: 95vh; 
    margin-right: 46px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 7px -1px #ED9696;
}

.logoContainer{
    width: fit-content; 
    height: fit-content; 
    margin: 0 auto;
    margin-top: 72px;
    margin-bottom: 78px;
    /* border: 1px solid red; */
}
.logoContainer > img {
    width: 70px;
}
.logoContainer > p {
    font-size: 2.3rem;
    text-align: center;
    font-family: 'Italiana', serif;
}

.leftButtonContainer{
    width: 338px; 
    margin-bottom: 35px;
    /* border: 1px solid red; */
    border-radius: 20px;
}
.leftButtonContainer:hover{
    cursor: pointer;
}
.leftButtonContainer > img {
    display: inline-block;
    width: 39px;
    margin-left: 69px;
    vertical-align: -12px;
}
.leftBtnTextContainer{
    display: inline-block;
    width: 125px;
    margin-left: 0px;
    text-align: center;
}
.leftBtnTextContainer > p {
    display: inline-block;
    font-weight: 500;
    font-size: 1.2rem;
}
.leftProfileBtn{
    box-sizing: border-box;
    margin-top: 100px;
}
.leftProfileBtn:hover{
    cursor: pointer;
}
.leftProfileBtn > div {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 63px;
    border-radius: 50%;
    overflow: hidden;
}
.leftProfileBtn > div >img {
    height: 50px;
    transform: translateX(-20%);
}
.leftProfileBtn > p {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
    vertical-align: 16px;
    margin-left: 12px;
}



.MainContentContainer{
    display: inline-block;
    width: 645px;
    height: 90%; 
    margin-right: 0px;
    margin-top: 23px;
    margin-left: 383px;
    margin-right: 43px;
    
}

.DoPostMenu{
    width: 100%;
    height: 90px; 
    padding: 19px 31px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 7px -1px #ED9696;


}
/* .DoPostMenu:hover{
    cursor: pointer;
} */

.DoPostMenu .ImgContainer{
    box-sizing: border-box;
    display: inline-block;
    width: 55px; 
    height: 55px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 50%;
}
.DoPostMenu .ImgContainer:hover{
    cursor: pointer;
}
.DoPostMenu .ImgContainer > img {
    height: 55px;
    transform: translateX(-15%);
}
.DoPostMenu .InputContainer{
    box-sizing: border-box;
    display: inline-block;
    width: 88.5%; 
    height: 50px;
    color: #E5DFDF;
    font-weight: 500;
    padding: 12px 0 0 20px;
    border-radius: 25px;
    vertical-align: 22.5px;
    background-color: white;
    border: 2px solid #E5DFDF;
}
.DoPostMenu .InputContainer:hover{
    background-color: #E5DFDF ;
    color: #888888;
}
.DoPostMenu .InputContainer:hover{
    cursor: pointer;
}
.PostSection{
    width: 100%;
    height: fit-content; 
    margin-top: 15px;
    padding-top: 32px;
    padding-bottom: 1px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 7px -1px #ED9696;
}

.Post{
    width: 584px;
    height: fit-content;
    margin: 0 auto 60px;
    padding-top: 35px;
    padding-bottom: 25px;
    background-color: #FFE1E1;
    border-radius: 30px;
    /* border: 1px solid #E8C5C5; */
}
.Post > p {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 1.12rem;
}
.Post > p:hover{
    cursor: pointer;
}

.postImageContainer{
    width: 93%;
    height: fit-content;
    overflow: hidden;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.postImageContainer > img {
    display: block;
    width: 100%;
}
.postImageContainer > img:hover{
    cursor: pointer;
}
.postTextContainer{
    width: 93%;
    height: fit-content;
    margin: 0 auto;
    padding: 16px 40px;
    background-color: white;;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 1px solid #FCCFCF;
    border-right: 1px solid #FCCFCF;
    border-bottom: 1px solid #FCCFCF;
}
.postTextContainer > p {
    text-align: center;
}
.postLikeIcon{
    display: block;
    width: 40px;
    margin: 0 auto;
    margin-top: 19px;
}
/* img[src="/heart-icon.png"]:hover{
    cursor: pointer;
} */
.RightMenuContainer{
    position: fixed; 
    top: 19px;
    display: inline-block; 
    /* width: 337px; */
    width: 345px;
    height: 95vh; 
    /* grid-column: 6; */
}

.DynamicContainer{
    /* height: 895px; */
    height: 100%;
    width: 100%;
    /* width: 98%; */
    overflow: hidden;
    padding: 5px;
    border-radius: 20px;
    /* border: 1px solid red */
    box-shadow: 0 7px 7px -7px #ED9696;
}

.ExplorarMenu{
    width: 100%;
    height: 174px; 
    padding: 15px 20px;
    background-color: white;
    border-radius: 15px;
    /* border: 1px solid #ED9696; */
    box-shadow: 0 0 7px -1px #ED9696;
}
.ExplorarMenu > h2{
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 500;
}
.explorarInput{
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 20px 40px;
    margin-bottom: 20px;
    border-radius: 30px;
    outline: none;
    border: 4px solid #E5DFDF;
}
.explorarInput:focus::placeholder{
    color: transparent;
}
.ExplorarMenu > p {
    font-size: 0.85rem;
    margin-left: 10px;
}

.TagsMenu{
    display: block;
    width: 100%;
    min-height: 135px; 
    height: fit-content;
    padding: 15px 20px;
    margin-top: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 7px -1px #ED9696;
}
.TagsMenu > h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 500;
}
.SelectedTag{
    display: inline-block;
    width: fit-content; 
    height: 35px;
    padding: 6px 12px;
    margin: 0 6px 4px 0px;
    background-color: #FFE1E1;
    border-radius: 10px;
    border: 1px solid #EDC8C8;
}
.SelectedTag:hover{
    cursor: pointer;
}
.SelectedTag > div {
    display: inline-block;
    margin-right: 7px;
}
.SelectedTag > p {
    display: inline-block;
    font-size: 0.85rem;
}



.TrendingMenu{
    width: 100%;
    height: 700px;
    margin-top: 15px;
    padding-top: 15px;
    background-color: white;
    border-radius: 15px;
    /* border: 1px solid #ED9696; */
    
    box-shadow: 0 0 8px -1px #ED9696;
}
.TrendingMenu > h2{
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 500;
}

.TrendingBtnContainer{
    display: relative;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 50px;
    overflow: hidden;
    /* padding: 13px 18px; */
    /* border: 1px solid black; */
}

.spanContainer{
    display: inline-block;
    width: 50px;
    height: 100%;
    text-align: center;
    font-weight: 600;
    padding-top: 14px;
    /* border: 1px solid red; */
}

.pContainer{
    display: inline-block;
    width: 225px;
    height: 100%;
    font-weight: 600;
    overflow: hidden;
    vertical-align: -33.4px;
}
.pContainer > p {
    display: inline-block;
}
.trendingBtnOption{
    position: absolute;
    right: 25px;
    width: 28px;
    height: 28px;
    display: inline-block;
    font-size: 0.9rem;
    letter-spacing: -8px;
    margin-top: 10px;
    padding: 3px 0 0 0;
    border-radius: 50%;
}
/* .TrendingBtnContainer > div:hover{
    background-color: #b49b9b;
}
 */
.TrendingBtnContainer:hover{

    background-color: #E8C5C5;
    cursor: pointer;
}


.NavVarContainer{
    display: none;
    position: fixed; 
    bottom: 0; 
    width: 100%;
    height: 80px; 
    background-color: white;
    border-top: 1px solid black;
}
@media (max-width: 1443px){
    .LeftMenuContainer{
        display: none;
    }
    .principal{
        grid-template-columns: auto 1025px auto;
    }
    .MainContentContainer{
        margin-left: 0;
    }
    .NavVarContainer{
        display: block;
    }
}

@media (max-width: 1050px){
    .principal{
        display: block;
    }
    .RightMenuContainer{
        display: none;
    }
    .MainContentContainer{
        display: block;
        width: 100%;
        max-width: 600px;
        height: 90%; 
        margin: 20px auto;
    }
    .DoPostMenu{
        height: 10vh; 
        background-color: white;
        /* border-radius: 15px; */
    }

    .PostSection{
        width: 100%;
        height: fit-content; 
        margin-top: 8px;
        padding-top: 15px;
        background-color: white;
        border-radius: 15px;
    }

    .Post{
        width: 95%;
        /* height: 50vh;  */
        /* margin: 0 20 60px; */
        background-color: #FFE1E1;
        border-radius: 15px;
        border: 1px solid #E8C5C5;
    }


}

@media (max-width: 600px){
    body{
        background-color: white;
    }
    .DoPostMenu{
        display: none;
        /* border-radius: 15px; */
    }
    .PostSection{
        margin-top: 0;
        border-radius: 0;
        padding: 10px 4px;
    }
    .Post{
        width: 98%;
        padding-top: 12px;
        padding-bottom: 5px;
        margin-bottom: 30px;
    }
    .Post > p {
        font-size: 0.9rem;
        margin-bottom: 12px;
    }
    .postLikeIcon{
        width: 35px;
        margin-top: 5px;
    }
    .postImageContainer{
        width: 96%;
        box-shadow: 0 0 7px -1px #ED9696;
    }
    .postTextContainer{
        width: 96%;
        font-size: 0.8rem;
        box-shadow: 0 0 7px -1px #ED9696;
    }
    .MainContentContainer{
        background-color: white;;
        margin-top: 0px;
    }
    
}