body{
    background-color: #FFECEC;
}
.principal{
    display: grid;
    grid-template-columns: auto 1410px auto;
    width: 100vw;
    height: 100vh;
}
.principal > div{
    position: relative;
    height: 900px;
    grid-column: 2;
}

.LeftMenuContainer{
    position: fixed;
    top: 23px;
    width: 337px;
    height: 95vh; 
    margin-right: 46px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #ED9696;
}

.MainContentContainer{
    display: inline-block;
    width: 645px;
    height: 90%; 
    margin-right: 0px;
    background-color: white;
    margin-top: 23px;
    margin-left: 383px;
    margin-right: 43px;
    border-radius: 15px;
    border: 1px solid #ED9696;
}
.RightMenuContainer{
    position: fixed; 
    top: 24px; 
    display: inline-block;
    width: 337px;
    height: 95vh; 
    grid-column: 6;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #ED9696;
}
